<div class="todo">
 <div class="content">
        <div class="morado"></div>
        <div class="cuadro_foto"><div class="foto_blanco"><img src="../../assets/face.jpg" alt=""></div></div>
        <div class="t_cuenta">Administrador</div>
        <div class="caracteristicas">
            <div class="c">
                <div class="nombre_c">Ventas realizadas</div>
                <div class="cc">
                    <div class="puntaje">9531</div>
                    <div class="estrella"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                </div>
            </div>
            <div class="c">
                <div class="nombre_c">Compras realizadas</div>
                <div class="cc">
                    <div class="puntaje">5031</div>
                    <div class="estrella"><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                </div>
            </div>
            <div class="c">
                <div class="nombre_c">Total realizadas</div>
                <div class="cc">
                    <div class="puntaje">14.562</div>
                    <div class="estrella"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                </div>
            </div>
        
        

        </div>
    </div>
    <div class="content2"></div>
</div> 