<div class="pantalla">
   
    <div class="cuadro_login">
        <div class="presentacion">
            <div class="pre_logo">
                <img src="./assets/logo.svg" alt="">
            </div>
            <p class="pre_titulo">Trabajamos duro para que usted no tenga que hacerlo :)</p>
        </div>
        <div class="login">
       
                <router-outlet></router-outlet>
                
            
            <div class="redes">
                <div class="cuadro_redes"><a href=""><i class="fab fa-facebook-square"></i></a></div>
                <div class="cuadro_redes"><a href=""><i class="fab fa-youtube"></i></a></div>
                <div class="cuadro_redes"><a href=""><i class="fab fa-twitter"></i></a></div>
                <div class="cuadro_redes"><a href=""><i class="fab fa-instagram"></i></a></div>
            </div>
        </div>
    </div>  
</div>