<mat-dialog-content class="mat-typography" >
  
    <div class="modal__agregar__almacen">
  
        <div class="modal__titulo">
          <div class="titulo__opciones">
              <div class="titulo__icono">
                <mat-icon class="icono__titulo">
                    <span class="material-icons-outlined">
                        add_box
                    </span>
                </mat-icon>
                <h1>Agregar un nuevo almacen o industria</h1>
              </div>
            
            <button  [mat-dialog-close]="true"><i class="fas fa-times borrar"></i></button>
          </div>
          <mat-divider></mat-divider>
        </div>
    
      
        <div class="modal__contenido">
    
            <form class="modal__fomulario" [formGroup]="formulario" (ngSubmit)="activar()">
    
                <div class="modal__formulario__cuerpo">

                    <div class="formulario__grupo__mitad">

                        <mat-icon class="icono__input">
                            <span class="material-icons-outlined">
                                edit_note
                            </span>
                        </mat-icon>

                        <mat-form-field class="contenedor__input" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="nombre" type="text" placeholder=""  formControlName="nombre" autocomplete="off">
                            
                            <mat-error *ngIf="nombrevalidator.hasError('required') && !nombrevalidator.hasError('required')">
                                Llenar campo
                            </mat-error>
                            <mat-error *ngIf="nombrevalidator.hasError('required')">
                            El nombre es <strong>requerido</strong>
                            </mat-error>
                            <button *ngIf="nombre" matSuffix mat-icon-button aria-label="Clear" (click)="nombre=''">
                            <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
        
                    </div>
    
                    <div class="formulario__grupo__mitad">

                        <mat-icon class="icono__input">
                            <span class="material-icons-outlined">
                                location_on
                            </span>
                        </mat-icon>
        
                        <mat-form-field class="contenedor__input" appearance="fill">
                            <mat-label>Direccion</mat-label>
                            <!-- <input matInput type="text" [(ngModel)]="direccion" placeholder="" [errorStateMatcher]="matcher" autocomplete="off" formControlName="direccion"> -->
                            <input matInput type="text" [(ngModel)]="direccion" placeholder="" [errorStateMatcher]="matcher" autocomplete="off" formControlName="direccion">
                            <mat-hint></mat-hint>
                            <mat-error *ngIf="direccionValidator.hasError('required') && !direccionValidator.hasError('required')">
                                Llenar campo
                            </mat-error>
                            <mat-error *ngIf="direccionValidator.hasError('required')">
                            La direccion del establecimiento es  <strong>requerida</strong>
                            </mat-error>
                            <button *ngIf="direccion" matSuffix mat-icon-button aria-label="Clear" (click)="direccion=''">
                            <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
        
                    </div>
    
                    <div class="formulario__grupo__full">
                        <mat-icon class="icono__input">
                            <span class="material-icons-outlined">
                                business
                            </span>
                        </mat-icon>
                        <mat-form-field appearance="fill" class="contenedor__input">
                            <mat-label>Que tipo de establecimiento es</mat-label>
                            <mat-select [(ngModel)]="tipo" placeholder="" required [errorStateMatcher]="matcher" autocomplete="off" formControlName="tipo">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let establecimiento of tipoEstablecimiento" [value]="establecimiento">
                                    {{establecimiento.tipo}}
                                  </mat-option>
                            </mat-select> 
                            <mat-error *ngIf="optionControl.hasError('required') && !optionControl.hasError('required')">
                                Llenar campo
                            </mat-error>
                            <mat-error *ngIf="optionControl.hasError('required')">
                            El tipo de establecimiento es requerido  <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <mat-divider></mat-divider>
                <mat-dialog-actions align="end" class="botones">
                    <button mat-button [mat-dialog-close]="true">Cerrar</button>
                    <button mat-button cdkFocusInitial type="submit" [disabled]="formulario.invalid" color="primary">Agregar</button>
                </mat-dialog-actions>
    
              </form>
        </div>   
      </div>
    </mat-dialog-content>

   