<div class="contenido">
   
     
        <div class="columna">
            <h1>Error 404 :(</h1>
            <p>Pagina no encontrada</p>
        </div>
        <div class="botones">
            <button [routerLink]="['/dashboard']">Volver a Inicio</button>
        </div>
        <div class="redes">
            <div class="cuadro_redes"><a href=""><i class="fab fa-facebook-square"></i></a></div>
            <div class="cuadro_redes"><a href=""><i class="fab fa-youtube"></i></a></div>
            <div class="cuadro_redes"><a href=""><i class="fab fa-twitter"></i></a></div>
            <div class="cuadro_redes"><a href=""><i class="fab fa-instagram"></i></a></div>
        </div>
        <div class="footer">
            <div class="derechos">© 2022 BELLA All rights reserved.</div>
            <div class="diseno">Design and Developed by MARKDEBRAND WORLD WIDE</div>
            
        </div>
</div>
