<section id="seguridad" >
    <div class="usuarios">
        <div class="lista">

            <div class="titulo_usuarios">
                <div class="titulo animate__animated animate__fadeInDown">Gestion de Almacenes e Industrias</div>
            </div>

            <div class="lista_header">
                
                        <li  class="animate__animated animate__fadeInLeft" mat-button (click)="agregarAlmacen()"><span class="fas fa-plus"></span></li>
    
                <div class="buscador animate__animated animate__fadeInRight">
                    <input type="text" name="" id="" class="buscar" placeholder="Buscar..."> 
                    <div class="icono_buscador"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>

        
        <div id="industrias__almacenes">
            <div class="ia__lista">

                <div class="item__contenedor">
                    <div class="opciones">
                        <button class="editar" (click)="actualizarAlmacen()">Editar<i class=" fas fa-edit"></i></button>
                        <button class="eliminar" (click)="eliminarAlmacen()"><i class="fas fa-trash"></i></button>
                    </div>
                    <div class="item animate__animated animate__fadeIn animate__fast" [routerLink]="['./almacenes-industrias']">
                        <div class="icono">
                            <i class="fas fa-box"></i>
                        </div>
    
                        <div class="nombre">
                            <p>El Garzon</p>
                        </div>
    
                        <div class="direccion">
                            <p>Calle principal de San Jocesito local 45-87</p>
                        </div>
                    </div>
                </div>
                
                

             
            </div>
            <div class="lista_footer  animate__animated animate__fadeInUp   animate__fast">
               
                <div class="paginacion" >
                    <div class="flecha" ><i class="fas fa-arrow-left"></i></div>
                    <div class="numero" >
                        <span>1</span>                            
                    </div>
                    <div class="numero" >
                        <span>2</span>                            
                    </div>
                    <div class="numero" >
                        <span>3</span>                            
                    </div>
                    <div class="flecha"><i class="fas fa-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
