<div id="inventario__almacen__industria">
    <div class="inventario__titulo animate__animated animate__fadeInDown">
        <h1 class="">Lista de productos</h1>
    </div>

    <div class="inventario__tabla">
        <div class="titulo__tabla">
            <div class="titulo__bucador">
                <h1>Productos</h1>
                <div class="buscador">
                    <mat-icon class="icono">search</mat-icon>
                    <input matInput type="search" placeholder="Buscar producto">
                </div>
            </div>
            <div class="titulo__opciones">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"  mat-raised-button
                matTooltip="Agregar producto"
                aria-label="Button that displays a tooltip when focused or hovered over" (click)="agregarProducto()">
                    <mat-icon>add</mat-icon>
                  </button>
            </div>
        </div>
        <table class="tabla__producto">
            <thead>
                <th></th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Inpuesto</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad en stock</th>
                <th></th>
            </thead>
            <tbody>

                <tr (click)="actualizarProducto($event)">
                    <td><img src="./assets/face.jpg" class="product__imagen"></td>
                    <td>Harina Pan</td>
                    <td>Harinas</td>
                    <td>13%</td>
                    <td>Bacon ipsum dolor amet sirloin fatback pork belly chicken, short ribs short loin chuck corned beef boudin ham ham hock pork rump doner pork chop. Pork venison bresaola, flank salami tenderloin pork loin chuck boudin andouille leberkas. Jerky bacon hamburger alcatra corned beef. Capicola turkey tenderloin bresaola jerky pig. Spare ribs t-bone short ribs leberkas.</td>
                    <td>3500</td>
                    <td>10000 u</td>
                    <td>
                        <button mat-menu-item class="btn__opciones">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>

            </tbody>
            <tfoot>

            </tfoot>
        </table>

    </div>
</div>